@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: Google Sans;
  src: url(Font/ProductSans-Light.ttf);
}
@font-face {
    font-family: bahasus93;
    src: url(Font/Bauhaus93Regular.ttf);
}
:root{
  --primary-color: #008080;
  --secondary-color: #18575c;
  --background-color:white;
  /* --background-color:#E6EAFF; */
}

.hi{
    font-family: bahasus93;
    font-size: 10ch;
    /* font-weight: bold; */
}

.abouthedayet{
    margin-top: 2%;
    margin-left: 18rem;
    margin-right: 18rem;
    margin-bottom: 5%;
}

.navbar-nav a {
    margin-right: 1rem;
    font-size: 1.2rem;
  }

.myImage{
    /* height: 40%; */
    /* margin-top: %; */
    margin-bottom: 5%;
    width: 25%;
    background-color:var(--primary-color);
    border: 0px solid transparent;
    border-radius: 20%;
    position: relative;
    left: 37.5%;
  }
  .myImage img{
    /* height: 100%; */
    width: 100%;
    /* border: 3px solid #E6EAFF; */
    border-radius: 20%;
    box-shadow: 0px 0px 10px var(--primary-color);
    opacity: 0.7;
    filter: grayscale(100%);
    filter:brightness(120%);
  }
  .myImage img:hover{
    animation: myImage 1s 1;
    opacity: 1;
    filter: brightness(100%);
  }
  @keyframes myImage {
    0% {
      opacity: 0.8;
      box-shadow: 0px 0px 0px #000980;
    }50%{
      opacity: 1;
      box-shadow: 0px 0px 20px #4e0a34;
    }
    100%{ 
      box-shadow: 0px 0px 10px var(--primary-color);
      filter: brightness(100%);
    }
  }

  .aboutdiv{
    margin-top: 5%;
  }
  @media (max-width: 1000px) {
    .abouthedayet {
      margin-left: 6rem;
      margin-right: 6rem;
    }
    .myImage{
        width: 40%;
        left: 30%;
    }
  }
