@font-face {
    font-family: bahasus93;
    src: url(Font/Bauhaus93Regular.ttf);
}
.navDiv {
    width:100vw;
    /* height: 40%; */
    top: 0%;
    /* left: 3%; */
    position: fixed;
    text-align: center;
    z-index: 1;
    /* background-color: #E6EAFF; */
    
  }
.logo{
    /* height: 100%; */
    width: 15vw;
    float: left;
    align-items: center;
    /* text-align: center; */
    /* padding-top: 1%; */
    padding-left: 0.5vw;
    font-family: bahasus93;
    font-size: 300%;
}

.logo a{
    text-decoration: none;
    color:#008080;
}
.logo a:hover{
    color: #008080;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}

.resume{
    border-style: solid;
    border-width: 0.1vw;
    border-color: #008080;
    color: #008080;
    border-radius: 6px;
    padding: 10 20 10 20;
    text-decoration: none;
  }
.resume:hover{
      background-color: #0080804f;
  }
    /* text-decoration: none; */

.details{
    padding-right: 2%;
}
.details div{
    /* height: 1vw; */
    /* width: 10%; */
    float: right;
    padding-top: 2vw;
    padding-right: 3vw;
}

.details div a{
    color: black;
    text-decoration: none;
    font-size: small
}
.details div a:hover{
    color: #008080

    ;
}

@media only screen and (max-width:800px) {
    .navDiv{
        position: relative;
    }
    .logo{
        float: none;
        margin: auto;
        font-size: 5vh;
    }
    .details{
        float: none;
        text-align: center;
        justify-content: center;
        display: inline-flex;
        flex-direction: row-reverse;
    }
    .resumeMobile{
        position: relative;
        
    }
}